
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #001;
    font-family: Arial, sans-serif;
    display: flex;
}


header{
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: #2b2929ea;
    box-shadow: 0 0 10px rgba(121, 108, 108, 0.5);
}

.i1{
    width: 200px;
    top: 20px;
    left: 20px;
    border-radius: 20px;
}
.i3{
    width: 100px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}

.i2{
    width: 100px;
    top: 20px;
    left: 20px;
          
}




.tawasol {
    width: 100%;
    background: #181818;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;      /* يجعلها دائرية */
    object-fit: cover;       /* قص ممتاز داخل الدائرة */
    vertical-align: middle;  /* محاذاة مع الأيقونات */
    cursor: pointer;
}


.tawasol a{
        text-decoration: none;

    color: var(--color);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    transition: 0.5s;
    font-size: 50px;
    cursor: pointer;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,.4) );
}


 .tawasol a:hover{
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);
    background-color: var(--color);
    color :#fff;
}


nav{
    width: 120px;
    height: 100vh;
    
    background: #1818185b;
    padding: 10px 20px;
 
    box-shadow: 0 0 10px rgba(3, 75, 39, 0.966);
}

nav a{
    display: block;
    

    text-decoration: none;
    margin: 20px 0;
    font-size: 18px;
    transition: 0.3s;
    padding: 13px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
    background: #22222234;
}

.a1{
    margin-top: 140px;
    
}

nav a:hover{
    box-shadow: 0 0 20px 5px rgba(255,255,255,0.2);
    background-color: var(--color);
    color :#fff;
}

